* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* ! FIX: to avoid animation shaking at the end - on animation parent. This should be on if we for example want to rotate the object */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* name and duration are the only two required */
  animation-name: moveInLeft;
  animation-duration: 1s;

  /* animation-delay: 3s; */

  /* How many times the animation will happen */
  /* animation-iteration-count: 3; */

  /* How fast or slow the params in keyframe will execute. i.e ease-in will start slower and speed up*/
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.5px;
  /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */

  /* Shorthand */
  animation: moveInRight 1s ease-out;
}

/* Animations can be done by transitions or keyframes */
@keyframes moveInLeft {
  /* For browser performance is best to animate only two properties
  Transform counts as one so we have still a loot of options*/
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
